<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./Partials/head.ejs"); %>
  </head>
  <body>
    <header><%- include("./Partials/navbar.ejs"); %></header>
    <main>
      <h1>Contact Us</h1>
      <div>
        So what stands out on this page? The drop-down menu under “How can we
        help you?” lets users share the reason they are contacting the site.
      </div>
    </main>
    <%- include("./Partials/footer.ejs"); %>
  </body>
</html>
