<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./Partials/head.ejs"); %>
  </head>
  <body>
    <header><%- include("./Partials/navbar.ejs"); %></header>
    <main>
      <h1>Home Page</h1>
      <div>
        The homepage or home page is the name of the main page of a website
        where visitors can find hyperlinks to other pages on the site. By
        default, the homepage on all web servers is index.html; however, it can
        also be index.htm, index.php, or whatever the developer decides.
      </div>
    </main>
    <%- include("./Partials/footer.ejs"); %>
  </body>
</html>
