<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./Partials/head.ejs"); %>
  </head>
  <body>
    <header><%- include("./Partials/navbar.ejs"); %></header>
    <main>
      <h1>Our Services</h1>
      <div>
        We offer the full spectrum of services to help organizations work
        better. Everything from creating standards of excellence to training
        your people to work in more effective ways, assessing how you’re doing,
        and helping you perform even better in future. Very few others do this,
        and none have been doing it as long as we have.
      </div>
    </main>
    <%- include("./Partials/footer.ejs"); %>
  </body>
</html>
